
body {
  background: #222;
  cursor: pointer;
  font-size: 100px;
  font-family: "Luckiest Guy", Arial;
  color: #fff;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div, canvas {
  position: absolute;
  left: 0;
}

#text {
  display: none;
  top: 20%;
  z-index: 200;
}

#arihant {
    font-size: 50px;
    height: 135%;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    z-index: 10;
    text-shadow: -5px -5px 0 #1a1a1a, 5px -5px 0 #1a1a1a, -5px 5px 0 #1a1a1a, 5px 5px 0 #1a1a1a;
    top: 48%;
}

#creations {
    font-size: 50px;
    height: 135%;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    z-index: 10;
    text-shadow: -5px -5px 0 #1a1a1a, 5px -5px 0 #1a1a1a, -5px 5px 0 #1a1a1a, 5px 5px 0 #1a1a1a;
    top: 48%;
}
